.bicicletas-bg{
  margin-top: 40px;
}

.bicicletas.opcoes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-self: center;
  padding-bottom: 40px;
  padding-top: 40px;
  gap: 40px;
  position: relative;
}

.bicicletas.opcoes:nth-child(even){
  background-color: var(--cor-11);
  box-shadow: inset 300px 0px var(--cor-0), 1000px 0px var(--cor-11);
}

.bicicletas.opcoes:nth-child(even) h3{
  color: var(--cor-0);
}

.bicicletas.opcoes:nth-child(even) p, li{
  color: var(--cor-5);
}

.bicicletas-opcoes-img img{
  border-radius: 4px;
  display: block;
}

.bicicletas-opcoes-img{
  position: relative;
}

.bicicletas.opcoes div span{
  background-color: var(--cor-12);
  position: absolute;
  top: 10%;
  right: 0px;
  width: 5rem;
  padding: 8px;
  border-radius: 4px 0px 0px 4px;
  /* font-weight: 600; */
  display: inline-block;
  flex-wrap: nowrap;
  
}


.bicicletas-descricao h3{
  /* padding-top: 20px;
  padding-bottom: 20px; */
  font-weight: 600;
  font-size: 36px;
  position: relative;
}

.bicicletas-descricao h3::before{
  content: "";
  position: absolute;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  top: -12px;
}

.bicicletas-descricao p{
  padding-bottom: 20px;
}

.bicicletas-descricao div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bicicletas-descricao div>ul{
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 10px;
  align-items: center;
}

.bicicletas-descricao div>ul> li{
  grid-column: 2;
}


.bicicletas-descricao div a{
  justify-self: end;
  align-self: end;
  padding-right: 32px;
  position: relative;
}

.bicicletas-descricao div a::after{
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  background-image: url("../../img/icones/seta.svg");
  position: relative;
  left: 10px;
  transition: .3s;
}

.bicicletas-descricao div a:hover::after{
  left: 15px;
}

@media (max-width: 1000px){
  .bicicletas-bg{
    margin-top: 0px;
  }
  .bicicletas-bg:nth-child(2){
    background: var(--cor-12);
    margin: 0px;
  }
  .bicicletas.opcoes{
    grid-template-columns: 1fr;
    gap: 20px;
    overflow: initial;
  }
  .bicicletas-descricao div{
    grid-template-columns: 1fr;
  }
  .bicicletas-descricao div a{
    justify-self: start;
    align-self: end;
    margin-top: 20px;
  }
  .bicicletas.opcoes:nth-child(even){
    background: var(--cor-11);
    box-shadow: inset 150% 0px var(--cor-11);
  }
}

.icone-img{
  display: flex;
  width: 10px !important;
  /* height: 24px; */
}