@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap');

/* CONTAINER GERAL */
.container{
    max-width: 1200px;
    margin: 0 auto;
}


/* BOTÕES */
body{
    margin: 0;
    padding: 0;
    background: rgba(128, 128, 128, 0.767);
    height: 100vh;
}
header{
    background: rgb(2, 65, 182);
    padding: 30px 0px;
}
.titulo{
    text-align: center;
    color: white;
}

nav{
    background: rgb(2, 65, 182);
    padding: 20px 0px
}

ul{
    padding: 0;
    display: flex;
    gap: 50px;
}
li{
    list-style: none;
}

a{
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    font-family: serif;
    padding: 5px 10px;
    border-radius: 15px;
}
a:hover{
    color: aqua;
    background: rgba(0, 255, 255, 0.247);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

/* SEÇÕES */

main section{
    max-width: 800px;
    margin-top: 100px;
    border-bottom: 1px solid gray;
}

.secao-1 h1{
    background: linear-gradient(to right, blue, green);
    margin: 20px 40px 20px 40px;
    padding: 10px 0px;
    text-align: center;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2px 40px 2px 40px ;
    color: white;
    font-family: serif;
    font-size: 4rem;
}
.secao-1 p{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 120px;
    font-weight: 700;
}

.secao-2 h1{
    background: linear-gradient(to right, gray, blue);
    margin: 20px 40px 20px 40px;
    padding: 10px 0px;
    text-align: center;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 40px 2px 40px 2px;
    color: white;
    font-family: serif;
    font-size: 2rem;
}
.secao-2 p{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 120px;
    font-weight: 500;
}

.secao-3 h1{
    background: linear-gradient(to right, gray, blue);
    margin: 20px 40px 20px 40px;
    padding: 10px 0px;
    text-align: center;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: white;
    font-family: serif;
    font-size: 2rem;
}
.secao-3 p{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 120px;
    font-weight: 100;
}

/* FOOTER */
footer{
    text-align: center;
    margin-top: 200px;
}

/* FORMULÁRIO */
h2{
    margin-top: 60px;
}

form{
    display: grid;
    background: gray;
    max-width: 500px;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
}

label{
    font-size: 1.2rem;
}

input{
    margin-bottom: 12px;
    height: 1.5rem;
    border: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
    border-radius: 4px;
}

textarea{
    border-radius: 4px;
    resize: none;
}

/* BLOG */
.blog-lista{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
#javascript{
    grid-column-start: 1;
    grid-column-end: 3;
}

