.body{
    background: grey;
    /* display: grid; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    box-sizing: border-box;
    max-width: 800px;
    margin: 0 auto;
}

header h1{
    text-align: center;
}

nav{
    margin-bottom: 60px;
}

main{
    margin-bottom: 60px;
}

aside{
    margin-bottom: 60px;
}

footer{
    text-align: center;
    bottom: 0;
}