.termos-titulo-bg{
  background: var(--cor-11);
  padding: 60px 0px;
}

.termos{
  display: grid;
  grid-template-columns: .6fr .4fr;
  padding: 60px 0px;
}

.termos h3, .termos p{
  grid-column: 1;
}

.termos h3{
  padding: 28px 0px;
}

.termos p{
  padding-bottom: 20px;
}

@media (max-width:1000px){
  .termos{
    grid-template-columns: 1fr;
  }
}